In [1]:
import pandas as pd

In [2]:
# reading the dataset and inserting the dummy header
raw = pd.read_csv('Drowsy_mear.csv',header=  None,index_col= None)

In [5]:
data = []
df = pd.DataFrame(data, columns=['ear', 'mar'])
df.head()

Empty DataFrame
Columns: [ear, mar]
Index: []

In [10]:
df['ear'] = raw.iloc[0,:]

In [11]:
df['mar'] = raw.iloc[1,:]

In [12]:
df.head()

    ear   mar
0  0.28  0.38
1  0.28  0.39
2  0.29  0.39
3  0.26  0.39
4  0.27  0.40

In [13]:
df.tail()

      ear   mar
593  0.27  0.42
594  0.29  0.43
595  0.29  0.43
596  0.28  0.43
597  0.29  0.44

In [14]:
df.to_csv('drowsy.csv', index=False)