In [1]:
import pandas as pd

In [2]:
# reading the dataset and inserting the dummy header
raw = pd.read_csv('NotDrowsy_mear.csv',header=  None,index_col= None)

In [3]:
data = []
df = pd.DataFrame(data, columns=['ear', 'mar'])
df.head()

Empty DataFrame
Columns: [ear, mar]
Index: []

In [4]:
df['ear'] = raw.iloc[0,:]

In [5]:
df['mar'] = raw.iloc[1,:]

In [6]:
df.head()

    ear   mar
0  0.23  0.42
1  0.16  0.41
2  0.30  0.40
3  0.31  0.41
4  0.31  0.41

In [7]:
df.tail()

      ear   mar
514  0.28  0.50
515  0.32  0.50
516  0.29  0.49
517  0.30  0.49
518  0.29  0.50

In [8]:
df.to_csv('notdrowsy.csv', index=False)